<app-header title="Efectivo Si" url="/">
</app-header>

<ion-content style="text-align: center;">
  <ion-card style="width: 100%;">
    <div class="productos">
      <ion-img src="../assets/baleada-huevo-aguacate.jpg" class=""></ion-img>
      <ion-img src="../assets/sal_pimineta.jpg" class=""></ion-img>
    </div>
    <ion-card-header>
      <ion-card-description>
        Baleada con Aguacte, Sal y Pimienta.
      </ion-card-description>
      <ion-card-title>
        Su pago es: L. 00.00 
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
